<!DOCTYPE html>
<html lang="en">
<head>
  <title>AR-Drone LeapPilot</title>
  <link rel="stylesheet" href="../../css/media_style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../css/style.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8" />
</head>
<body>
    <div class="media_wrapper">
        <section id="media_section">
			<div class="media_header">
				<h1>LeapPilot Media Gallery</h1>
				<h4 class="media_subheader">AR.Drone 2.0</h4>
			</div>
			<div class="media_elements_container">
				<div class="media_element"></div>
				<div class="media_element"><i class="fa fa-play-circle-o fa-5"></i></div>
				<div class="media_element"></i></div>
			</div>
		</section>
    </div>
</body>
</html>